<h1>Update <%= @store.name %></h1>

<%= form_with url: "/stores/#{@store.id}", method: :patch, local: true do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name, value: @store.name, required: true %><br/>

  <%= form.label :ongoing_sale, "Ongoing Sale?:" %>
  <%= form.check_box :ongoing_sale, required: true %><br/>

  <%= form.label :annual_revenue, "Annual Revenue:" %>
  <%= form.number_field :annual_revenue, value: @store.annual_revenue, required: true %><br/>

  <%= form.submit "Update #{@store.name}" %>
<% end %>