<h1>Names of all of the Stores!</h1>

<%= link_to "New Store", "/stores/new" %><br/>
<%= link_to "Sort by Largest Inventory", "/stores?sort=largest_inventory" %><br/>

<% @stores.each do |store| %>
  <div id="store_#{store.id}_info", class="index_page">
    <h3><%= store.name %></h3>
    <p>Created: <%= store.created_at %></p>
    <p>Inventory Count: <%= store.guitar_count %></p>

    <%= button_to "Update #{store.name}", "/stores/#{store.id}/edit", method: :get %>
    <%= button_to "Delete #{store.name}", "/stores/#{store.id}", method: :delete %>
  </div>
<% end %>