<h1><%= @guitar.name %></h1>

<div class="view_info">
  <%= link_to "Update #{@guitar.name}", "/guitars/#{@guitar.id}/edit", method: :get %>

  <p>Name: <%= @guitar.name %></p>
  <p>Used?: <%= @guitar.used %></p>
  <p>Price: $<%= @guitar.price %></p>
</div>