<h1>Current Store: <%= @store.name %></h1>

<%= link_to "Create Guitar", "/stores/#{@store.id}/guitars/new" %><br/>
<%= link_to "Sort Alphabetically", "/stores/#{@store.id}/guitars?sort=alphabetically" %><br/>

<% @guitars.each do |guitar| %>
  <%= button_to "Update #{guitar.name}", "/guitars/#{guitar.id}/edit", method: :get %>

  <h3>Name: <%= guitar.name %></h3>
  <h3>Used?: <%= guitar.used %></h3>
  <h3>Price: $<%= guitar.price %></h3>
<% end %>